:root {
    --bg-color: #000000;
    --second-bg-color: #474747;
    --text-color: #FFFFFF;
    --main-color: #009EFF;
}

hr {
    background-color: #009EFF;
    border: none;
}

body {
    margin: 2px;
    background: var(--main-color);
    color: var(--text-color);
    width: 100%;
    height: 100%;
    overflow-x: hidden;
        overflow-y: hidden;
   
}



#header {
    display: flex;
    justify-content: stretch;
    top: 0;
    left: 0;
    width: auto;
    padding: 1rem 5%;
    border-radius: 25px;
    background: var(--second-bg-color);
    display: flex;
    align-items: center;
}

.logo {
    font-size: 2rem;
    color: var(--text-color);
    text-decoration: none;
    font-weight: bold;
    cursor: default;
}

#navbar a {
    display: inline-flex;
    justify-content: space-evenly;
    font-size: 2rem;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    color: var(--text-color);
    text-decoration: none;
    margin-left: 8rem;
    transition: -2s;
}

#navbar a:hover {
    color: var(--main-color);
}

.home {
    display: flex;
    justify-content: space-evenly;
    background-color: var(--second-bg-color);
    border-radius: 15px;
    margin-top: 2px;
    align-items: center;
    height: fit-content;
    padding: 120px 50px;
}

.home-content h3 {
    font-size: 3rem;
    font-weight: 200;
    font-weight: bold;
    line-height: 1.8rem;
}

.home-content h1 {
    font-size: 6rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 700;
    line-height: 1;
}

.home-content p {
    font-size: 1.6rem;
    margin: 5px 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#social-media a {
    width: 40px;
    height: 40px;
    border-radius: 50px;
    display: inline-flex;
    margin: 5px 15px 10px 0px;
}

#social-media img {
    width: 40px;
    height: 40px;
    border-radius: 50px;
    display: inline-flex;
    margin-right: 15px;
}

.button {
    display: inline-block;
    padding: 2.5rem 2.5rem;
    background: var(--main-color);
    border-radius: 5rem;
    box-shadow: 0 0 0.5rem var(--main-color);
    color: var(--second-bg-color);
    font-weight: bold;
    font-size: medium;
    transition: .6s ease;
    text-decoration: none;
}

.button:hover {
    box-shadow: none;
}

.about {
    display: flex;
    justify-content: space-evenly;
    background-color: var(--second-bg-color);
    border-radius: 15px;
    margin-top: 2px;
    align-items: center;
    height: fit-content;
    padding: 120px 50px;
}

.about img {
    width: 400px;
    height: 400px;
    margin: 10px;
    border-radius: 50px;
}

.about h4 {
    font-size: 3rem;
    font-weight: 200;
    font-weight: bold;
    margin-bottom: 20px;
    line-height: 1.8rem;
}

.about h2 {
    font-size: 6rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 700;
    margin-bottom: 40px;
    line-height: 1;
}

.about p {
    font-size: 2rem;
    margin: 5px 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-bottom: 10px;
}

.skills p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: small;

}

.skills {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-top: 2px;
    border-radius: 15px;
    gap: 2rem;
    background: var(--second-bg-color);
    font-size: 2rem;
    height: fit-content;
    padding: 50px;
}

.skills-box .skills-content {
    border: .2rem solid var(--main-color);
    border-radius: .6rem;
    padding: .2rem 1.5rem;
    justify-content: center;
    align-items: center;
    width: 400px;
    align-content: center;

}

.skills-content .progress {
    padding: 1rem 0;
}

.skills-content .progress h3 {
    font-size: 2rem;
    display: flex;
    justify-content: space-between;
}

.skills-content.progress h3 span {
    color: var(--text-color);
}


.skills-content .progress .bar {
    width: 100px;
    height: 10px;
    border-radius: .6rem;
    border: .3rem solid var(--main-color);
    padding: .2rem;
    margin: 1rem 0;
    background: var(--main-color);
    transition-property: width;
    font-size: small;
    color: black;
    transition-duration: 2s;
    transition-timing-function: linear;
    transition-delay: 1s;
    visibility: hidden;
}

.skills-content .progress:hover .bar {
    width: 90%;
    visibility: visible;
    border-radius: 75px;
}

.skills-content .progress:hover .bar1 {
    width: 80%;
    visibility: visible;
    border-radius: 75px;
}

.skills-content .progress:hover .bar2 {
    width: 65%;
    visibility: visible;
    border-radius: 75px;
}

.skills-content .progress:hover .bar3 {
    width: 75%;
    visibility: visible;
    border-radius: 75px;
}

.skills-content .progress:hover .bar4 {
    width: 85%;
    visibility: visible;
    border-radius: 75px;
}

.pro {
    border-radius: 15px;
    background: var(--second-bg-color);
    height: fit-content;
    margin-top: 2px;
    padding: 50px;
}

.pro p {
    font-size: medium;
    font-weight: bold;
    padding: 5px;

}

.pro-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    gap: 2rem;
}

.pro h2 {
    font-size: 4rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    line-height: 1;
}

.pro-layer {
    text-align: center;
}

.pro-layer h3 {
    color: var(--main-color);
    font-size: medium;
    font-weight: bold;

}

.pro-layer p {
    font-size: small;
    font-weight: bold;

}

.pro-box {
    display: inline-block;
    border-radius: 4rem;
    margin-right: 2rem;
    box-shadow: 0 0 1.5rem var(--main-color);
}

.pro-box .pop {
    visibility: hidden;
    width: 500px;
    height: 700px;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    box-shadow: 0 0 2rem var(--main-color);
    transition: width 2s, height 2s, transform 2s;
    position: absolute;
}


.pro-box:hover .pop {
    visibility: visible;
    width: 270px;
    height: 350px;
    transform: rotate(360deg);
}

.pro-box .pop img {
    border-radius: 3px;
    width: 70%;

}

.pro-box img {
    width: 100%;
    border-radius: 4rem;
}

.contact {
    display: inline-flex;
    justify-content: space-between;
    background-color: var(--second-bg-color);
    border-radius: 15px;
    margin-top: 2px;
    height: fit-content;
    width: auto;
    padding: 120px 50px;
}
form .input-box {
    width: 600px;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
}

form .input-box input,
form textarea {
    width: 50%;
    padding: 1rem;
    font-size: 1.6rem;
    color: var(--text-color);
    background: black;
    border-radius: 8px;
    margin: .7rem 0;
}

.form .input-box input {
    width: 50%;
}

.form textarea {
    resize: vertical;
}

.form .button {
    margin-top: 1rem;
    cursor: pointer;
}


